@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.rotation {
  animation: rotation 20s linear infinite;
}
.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}

p, a, img, section, h2, h3, div {
  /*border: 1px solid red;*/
}

.header {
  background: #f2f2f2;
  color: black;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */

  position: relative;
  display: flex;
  align-items: center;
  box-sizing: border-box; /*еще посмотреть  */
  overflow: hidden;/*почекать */
}

/*1*/
.logo {
  width: 228px;
  height: 32px;
  background-size: cover;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  z-index: 3;
  background-image: url("../images/logo_place_header.svg");
}
/*2*/
.header__title {
  max-width: 730px;
  font-size: 102px;
  line-height: 96px;
  font-weight: 600;

  margin: 0 0 0 64px;
  align-items: center;
  z-index: 2;
}

/*3*/
.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  text-align: left;

  max-width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  z-index: 2;

}
.link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.header__link {
  color: #2f80ed;

}
/*4*/
.header__main-illustration {
  width: 765px;
  height: 608px;
  object-fit: cover;
  /*background-image: url("../images/two_again.png");*/
  /*background-size: cover;*/
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}
/*5*/
/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  width: 568px;
  height: 568px;
  background-color: #2f80ed;

  position: absolute;
  top: 64px;
  right: 0;
  box-sizing: border-box;
}

/*DESCRIPTION*/

.description {
  padding-top: 100px;
  display: flex;
  justify-content: center;
  /*min-width: 784px;*/
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
}

.two-columns__brief {
  margin: 0;
  padding: 0;

  max-width: 175px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;

  display: block;
  justify-content: space-between;
}

.two-columns__paragraph {
  margin: 0 0 30px 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

/*TECHNIQUES*/
.techniques {
  padding: 100px 0 0;
  display: block;
  color: black;
}

.cards {
  margin: 0 auto;
  padding: 0;
  width: 920px;
  /*width: 80%;*/
  display: flex;

  /*justify-content: space-around;*/
  flex-wrap: wrap;
  list-style: none;
}

.cards__item {
  margin: 0 100px 0 0;
  padding: 0;
  width: 240px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.cards__item:nth-child(3n) {
  margin-right: 0;
}

.cards__image {
  max-width: 160px;
  max-height: 160px;
  margin: 60px 40px 43px;
  padding: 0;
  border-radius: 50%;
}

.cards__title {
  margin: 0 0 16px;
  padding: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}

.cards__description {
  padding: 0;
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  text-align: center;
}

/*VIDEO*/
.video {
  padding: 100px 0 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  /*margin: 50px auto 0;*/
  position: relative;
  top: 50px;
}

.video__iframe {
  width: 515px;
  height: 316px;
  border: 0;
}

.video__iframe:nth-child(1) {
  margin-right: 20px;
}

/*OAKLEY*/
.oakley {
  padding: 160px 0 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  align-items: center;

}

/*DIGITS*/

.digits {
  padding: 100px 0;
  display: block;
  color: black;
}

.section-title {

  width: 60%;
  margin: 0 auto;
  padding: 0;
  text-align: center;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle {
  margin: 20px auto 0;
  padding: 0;

  width: 60%;
  text-align: center;

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0 auto;
  padding-left: 0;

  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.table__cell {
  margin: 60px 0 0;
  padding: 0;

  width: 250px;
}

.table__heading {
  margin: 0;
  padding: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  padding: 20px 0 0;
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*FEYNMAN*/

.feynman {
  min-height: 890px; /*для лучшей масштабируемости*/
  margin: 0 auto;
  padding: 100px 0 0;
  box-sizing: border-box;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-position: bottom 0 left 0;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.feynman__title {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  max-width: 648px;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;


}

.feynman__subtitle {
  margin: 70px auto 0;
  padding: 0;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;

}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;

  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

/*KHAN*/
.khan {
  padding: 105px 0 0;
  margin: 0;
  background-color: #f2f2f2;
}

.khan__container {
  margin: 0 auto;
  width: 80%;

  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: flex-start;*/
}

.khan__author {
  margin: 0;
  padding: 0;

  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0 0 50px;

  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

khan__quote {
  width: 790px;
  margin: 0 0 36px;
  /*padding: 0;*/

  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-author {
  margin: 0 0 10px;
  padding: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-author-subline {
  margin: 0 0 68px;
  padding: 0;

  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  display: flex;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  margin: 0 48px 0 0;
  padding: 0;

  object-fit: cover; /*обрезка по размерам*/
  object-position: top; /*чтобы обрезался только низ*/
}

.khan__buy-link {
  /*align-self: flex-start;*/
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
}
/*KAUFMAN*/

.kaufman {
  margin: 0;
  padding: 90px 0;

  background-color: #1f1f1f;
  color: white;
  z-index: 1;
  position: relative;
  overflow: hidden; /* скрывает отрезанную часть треугольника */
}

/*.section-subtitle_theme_dark,*/
/*.table__cell_theme_dark,*/
/*.table_theme_dark {*/
/*  z-index: 1;*/
/*}*/

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url("../images/kaufman-triangle.svg");

  position: absolute;
  top: 0;
  right: -210px;
  background-size: cover;
  box-sizing: border-box;
  z-index: -1;
  overflow: hidden;
}

/*RESOURCES*/
.resources {
  padding: 100px 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  display: flex;
  flex-direction: row;
  margin: 80px auto 217px;
}

.resources__logo {
  width: 270px;
  height: 38px;
}

/*FOOTER*/

.footer {
  margin: 0;
  padding: 60px 0 40px;

  background-color: #1f1f1f;
  color: white;
  min-height: 350px;
  box-sizing: border-box;
  display: flex;
}

.footer__columns {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

}

.footer__column {
  display: flex;
  flex-direction: column;

  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  width: 228px;
  height: 32px;
  background-image: url("../images/logo_place_footer.svg");

}

.footer__author {
  margin: 18px 0;

  line-height: 25px;
  font-size: 18px;
  font-weight: normal;

}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 20px 0 16px;
  display: flex;
  flex-direction: column;

  list-style: none;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #f2f2f2;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  order: 1;
  margin-right: 10px;
}


